table.definition-table {
  width: 100%;
}

table.definition-table th {
  padding-right: 1rem;
  text-align: start;
  vertical-align: top;
}

table.definition-table td {
  width: 60%;
}

.icon-text-left {
  margin-right: 0.25rem;
}
